<a href="https://colab.research.google.com/github/amosTimi/amos_hamoye_solutions/blob/master/ENB2012_Amos_Hamoye.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [3]:
# import csv file from html:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv'
energydata = pd.read_csv(url)
energydata.head()
energydata.to_csv('energydata_complete.csv')

In [5]:
df = pd.read_csv('energydata_complete.csv',index_col=0)
df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [ ]:
df.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
date           19735 non-null object
Appliances     19735 non-null int64
lights         19735 non-null int64
T1             19735 non-null float64
RH_1           19735 non-null float64
T2             19735 non-null float64
RH_2           19735 non-null float64
T3             19735 non-null float64
RH_3           19735 non-null float64
T4             19735 non-null float64
RH_4           19735 non-null float64
T5             19735 non-null float64
RH_5           19735 non-null float64
T6             19735 non-null float64
RH_6           19735 non-null float64
T7             19735 non-null float64
RH_7           19735 non-null float64
T8             19735 non-null float64
RH_8           19735 non-null float64
T9             19735 non-null float64
RH_9           19735 non-null float64
T_out          19735 non-null float64
Press_mm_hg    19735 non-null float64
RH_out         19735 non-null float64
Windspeed      19735 non-null float64
Visibility     19735 non-null float64
Tdewpoint      19735 non-null float64
rv1            19735 non-null float64
rv2            19735 non-null float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [ ]:
df.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [ ]:
df.describe(include='object')

                       date
count                 19735
unique                19735
top     2016-04-04 22:40:00
freq                      1

In [ ]:
df.isnull().sum() # check for null entries in each column

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [10]:
# dropping date and lights columns
to_drop = df[['date','lights']]
df.drop(to_drop,axis=1,inplace=True)
df.head()

   Appliances     T1       RH_1  ...  Tdewpoint        rv1        rv2
0          60  19.89  47.596667  ...        5.3  13.275433  13.275433
1          60  19.89  46.693333  ...        5.2  18.606195  18.606195
2          50  19.89  46.300000  ...        5.1  28.642668  28.642668
3          50  19.89  46.066667  ...        5.0  45.410389  45.410389
4          60  19.89  46.333333  ...        4.9  10.084097  10.084097

[5 rows x 27 columns]

In [ ]:
# Appliances = Target variable!

In [11]:
# check for correlation between variables::
df_corr = df.corr()
df_corr

             Appliances        T1      RH_1  ...  Tdewpoint       rv1       rv2
Appliances     1.000000  0.055447  0.086031  ...   0.015353 -0.011145 -0.011145
T1             0.055447  1.000000  0.164006  ...   0.571309 -0.006203 -0.006203
RH_1           0.086031  0.164006  1.000000  ...   0.639106 -0.000699 -0.000699
T2             0.120073  0.836834  0.269839  ...   0.582602 -0.011087 -0.011087
RH_2          -0.060465 -0.002509  0.797535  ...   0.499152  0.006275  0.006275
T3             0.085060  0.892402  0.253230  ...   0.645886 -0.005194 -0.005194
RH_3           0.036292 -0.028550  0.844677  ...   0.414387 -0.000477 -0.000477
T4             0.040281  0.877001  0.106180  ...   0.519471 -0.001815 -0.001815
RH_4           0.016965  0.097861  0.880359  ...   0.616509 -0.001787 -0.001787
T5             0.019760  0.885247  0.205797  ...   0.588362 -0.005490 -0.005490
RH_5           0.006955 -0.014782  0.303258  ...   0.078175 -0.011056 -0.011056
T6             0.117638  0.654769  0.316141  ...   0.764242 -0.015086 -0.015086
RH_6          -0.083178 -0.615045  0.245126  ...  -0.260417  0.011671  0.011671
T7             0.025801  0.838705  0.021397  ...   0.466625 -0.003900 -0.003900
RH_7          -0.055642  0.135182  0.801122  ...   0.641857  0.001820  0.001820
T8             0.039572  0.825413 -0.030053  ...   0.391810 -0.003210 -0.003210
RH_8          -0.094039 -0.006441  0.736196  ...   0.501775  0.004480  0.004480
T9             0.010010  0.844777  0.115263  ...   0.581483 -0.001227 -0.001227
RH_9          -0.051462  0.071756  0.764001  ...   0.540328 -0.002955 -0.002955
T_out          0.099155  0.682846  0.340767  ...   0.790661 -0.015216 -0.015216
Press_mm_hg   -0.034885 -0.150574 -0.293957  ...  -0.244098  0.000699  0.000699
RH_out        -0.152282 -0.345481  0.274126  ...   0.036506  0.020441  0.020441
Windspeed      0.087122 -0.087654  0.204932  ...   0.125972 -0.011342 -0.011342
Visibility     0.000230 -0.076210 -0.021057  ...  -0.042190 -0.005889 -0.005889
Tdewpoint      0.015353  0.571309  0.639106  ...   1.000000 -0.003943 -0.003943
rv1           -0.011145 -0.006203 -0.000699  ...  -0.003943  1.000000  1.000000
rv2           -0.011145 -0.006203 -0.000699  ...  -0.003943  1.000000  1.000000

[27 rows x 27 columns]

In [ ]:
# correlation between the variables are not really very strong. So we keep the features as is

In [12]:
# normalizing our dataset using MinMaxScaler

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [13]:
norm_arr = scaler.fit_transform(df)
columns = df.columns
norm_df = pd.DataFrame(norm_arr,columns=columns)
norm_df.head()

   Appliances       T1      RH_1  ...  Tdewpoint       rv1       rv2
0    0.046729  0.32735  0.566187  ...   0.538462  0.265449  0.265449
1    0.046729  0.32735  0.541326  ...   0.533937  0.372083  0.372083
2    0.037383  0.32735  0.530502  ...   0.529412  0.572848  0.572848
3    0.037383  0.32735  0.524080  ...   0.524887  0.908261  0.908261
4    0.046729  0.32735  0.531419  ...   0.520362  0.201611  0.201611

[5 rows x 27 columns]

In [14]:
# splitting the normalised dataset into feaure variables and target variable
target_col = norm_df['Appliances']
features_cols = norm_df.drop(['Appliances'],axis=1)

In [15]:
# print five rows each from the target col and features cols::
print('Target col:')
target_col.head()

Target col:

0    0.046729
1    0.046729
2    0.037383
3    0.037383
4    0.046729
Name: Appliances, dtype: float64

In [16]:
print('Features col: ')
features_cols.head()

Features col:

        T1      RH_1        T2  ...  Tdewpoint       rv1       rv2
0  0.32735  0.566187  0.225345  ...   0.538462  0.265449  0.265449
1  0.32735  0.541326  0.225345  ...   0.533937  0.372083  0.372083
2  0.32735  0.530502  0.225345  ...   0.529412  0.572848  0.572848
3  0.32735  0.524080  0.225345  ...   0.524887  0.908261  0.908261
4  0.32735  0.531419  0.225345  ...   0.520362  0.201611  0.201611

[5 rows x 26 columns]

In [17]:
# splitting our dataset into test set and training set for the regression algorithm

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(
    features_cols,target_col,test_size=0.3,random_state=42)

In [18]:
# importing our linear regression algorithm
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()

# fitting our model to out training set
linear_model.fit(X_train,y_train)

# obtaining prediction from our model; name 'y_pred'
y_pred = linear_model.predict(X_test)

In [19]:
# Measuring regression performance.

# 1.Mean Absolute Error (MAE)

from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test,y_pred)
print("Mean absolute error: {:.3f}".format(mae))

Mean absolute error: 0.050

In [20]:
# 2. R^2 error

from sklearn.metrics import r2_score
r2_score = r2_score(y_test,y_pred)
print("R squared error: {:.3f}".format(r2_score))

R squared error: 0.149

In [ ]:
# 3. Residual sum of squares

import numpy as np
rss = np.sum(np.square(y_test - y_pred))
print("Residual Sum of Squares: {:.3f}".format(rss))

Residual Sum of Squares: 45.348

In [ ]:
# 4. Mean squared error

from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test,y_pred)
print("Mean squared error: {:.3f}".format(mse))

# 5. Root mean squared error
rmse = np.sqrt(mse)
print("Root mean squared error: {:.3f}".format(rmse))

Mean squared error: 0.008
Root mean squared error: 0.088

In [ ]:
# 5. calculating score from off the model method:
pred_score = linear_model.score(X_test,y_test)
print("Model score: {:.3f}".format(pred_score))

Model score: 0.149

### Regularising the linear model

In [21]:
# >> Lasso regression

from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha = 0.001)
lasso_reg.fit(X_train,y_train)

# >> Ridge regression

from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.5)
ridge_reg.fit(X_train,y_train)

Ridge(alpha=0.5, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [22]:
# comparing the effects of regularization:

def get_weights_df(model,features,col_name):
    # this function returns the weight of the features in the training dataset
    weights = pd.Series(linear_model.coef_,features_cols.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index() # converts the pandas series to pandas dataframe
    weights_df.columns = ['Features',col_name]
    weights_df[col_name].round(3)
    
    return weights_df

linear_model_weights = get_weights_df(linear_model,X_train,'Linear_model_weight')
ridge_weights_df = get_weights_df(ridge_reg,X_train,'Ridge_weight')
lasso_weights_df = get_weights_df(lasso_reg,X_train,'Lasso_weight')

final_weights_df = pd.merge(linear_model_weights,ridge_weights_df,on='Features')
final_weights_df = pd.merge(final_weights_df,lasso_weights_df,on='Features')

In [ ]:
final_weights_df

       Features  Linear_model_weight  Ridge_weight  Lasso_weight
0          RH_2            -0.456698     -0.456698     -0.456698
1         T_out            -0.321860     -0.321860     -0.321860
2            T2            -0.236178     -0.236178     -0.236178
3            T9            -0.189941     -0.189941     -0.189941
4          RH_8            -0.157595     -0.157595     -0.157595
5        RH_out            -0.077671     -0.077671     -0.077671
6          RH_7            -0.044614     -0.044614     -0.044614
7          RH_9            -0.039800     -0.039800     -0.039800
8            T5            -0.015657     -0.015657     -0.015657
9            T1            -0.003281     -0.003281     -0.003281
10          rv1             0.000770      0.000770      0.000770
11          rv2             0.000770      0.000770      0.000770
12  Press_mm_hg             0.006839      0.006839      0.006839
13           T7             0.010319      0.010319      0.010319
14   Visibility             0.012307      0.012307      0.012307
15         RH_5             0.016006      0.016006      0.016006
16         RH_4             0.026386      0.026386      0.026386
17           T4             0.028981      0.028981      0.028981
18    Windspeed             0.029183      0.029183      0.029183
19         RH_6             0.038049      0.038049      0.038049
20         RH_3             0.096048      0.096048      0.096048
21           T8             0.101995      0.101995      0.101995
22    Tdewpoint             0.117758      0.117758      0.117758
23           T6             0.236425      0.236425      0.236425
24           T3             0.290627      0.290627      0.290627
25         RH_1             0.553547      0.553547      0.553547

In [ ]:
# Test questions
# Q12:

x = df[['T2']]
y = df[['T6']]

X12_train,X12_test,y12_train,y12_test = train_test_split(x,y,random_state=42)
q12_model = LinearRegression()
q12_model.fit(X12_train,y12_train)
y12_pred = q12_model.predict(X12_test)

# R^2 score
from sklearn.metrics import r2_score
r2_err = r2_score(y12_test,y12_pred)
print(r2_err.round(2))

0.64

In [ ]:
# Q 17
print('min: {}\nmax: {}'.format(final_weights_df.head(1),final_weights_df.tail(1)))

min:   Features  Linear_model_weight  Ridge_weight  Lasso_weight
0     RH_2            -0.456698     -0.456698     -0.456698
max:    Features  Linear_model_weight  Ridge_weight  Lasso_weight
25     RH_1             0.553547      0.553547      0.553547

In [ ]:
# Q 18
q18_ridge = Ridge(alpha=0.4).fit(X_train,y_train)
q18_pred = q18_ridge.predict(X_test)
rmse_q18 = np.sqrt(mean_squared_error(y_test,q18_pred))
rmse_q18.round(3)

0.088

In [ ]:
# Q 19
q19_lasso = Lasso(alpha=0.001)
q19_lasso.fit(X_train,y_train)
q19_pred = q19_lasso.predict(X_test)

# coefficients
q19_weights = q19_lasso.coef_
# non-zero weights
len(q19_weights > 0)

26

In [ ]:
# Q 19 contd.
# new RMSE:
q19_rmse = np.sqrt(mean_squared_error(y_test,q19_pred))
print("new RMSE with Lasso(alpha=0.0001): {:.3f}".format(q19_rmse))

new RMSE with Lasso(alpha=0.0001): 0.094